.secondary-sidebar {
	a {
		color: $gray-light;
	}
	h4 {
		color: $white;
		border-bottom: 2px solid $red;
		margin-bottom: $column-gutter;
	}
	h2 {
		color: $white;
		font-size: $h5-font-size;
	}
	p {
		color: $gray;
		font-size: 0.8em;
	}
	.adr, .org {
		color: $white;
		font-size: 0.8em;
		padding-top: $column-gutter*2;
	}
	.logo {
		margin-top: $column-gutter;
		margin-bottom: $column-gutter;
	}
	.block-thumb {
		.date-block {
			color: $blue;
			margin-top: $column-gutter;
		}
	}
	.tag-list {
		@extend .cf;
		padding-bottom: $column-gutter;
	}
	.tag-list li {
		background: $gray-dark;
		border: 1px solid $gray;
		color: $gray-light;
		float: left;
		font-size: 0.8em;
		padding: $column-gutter/2;
		padding-left: $column-gutter/2;
		margin: $column-gutter/4;
	}
	.events-list, .post-list {
		@extend .visible-for-large-up;
	}
	ol.vcalendar {
		margin-left: 0;
	}
}